content/page/about/llap.gif filter=lfs diff=lfs merge=lfs -text
content/post/2017/frensh-cleat-system/img/Regal.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/frensh-cleat-system/img/cleats.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-1/img/barCodeScanner.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/box-final.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/tp-4.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/fly-screen/img/resized001.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/fly-screen/img/resized002.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/fly-screen/img/resized003.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/rfid-reader.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/Buttons.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/frensh-cleat-system/img/F-Cleat-side.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized005.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2020/volkswagen-coasters/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-1/img/cashRegister.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-1/img/receiptPrinter.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/hose_corner.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized001.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized004.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2020/pi_cam_holder/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2020/wood-design-clock/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/RaspiZero.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/comparison.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/hose_mount.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/frensh-cleat-system/img/header.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized003.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2020/volkswagen-coasters/img/coasters.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/hose.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/material_dusty.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/pumps_assembled.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized007.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2017/slatted-frame/img/resized009.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/tp-1.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/intro.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/dust.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/pump.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/tp-3.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/Powerbank.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/hose_connection.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/material_clean.jpg filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/thingiverse-2.png filter=lfs diff=lfs merge=lfs -text
content/post/2020/last-pixel-standing-update/img/intro.png filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/sc-boot.png filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/sc-config-3.png filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/sc-config-4.png filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/fusion360-box.png filter=lfs diff=lfs merge=lfs -text
content/post/2023/air-assist-xtool-m1/img/thingiverse-1.png filter=lfs diff=lfs merge=lfs -text
content/post/2020/last-pixel-standing-game/img/intro.png filter=lfs diff=lfs merge=lfs -text
content/post/2020/wood-design-clock/img/parts.png filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/sc-config-1.png filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/sc-config-2.png filter=lfs diff=lfs merge=lfs -text
content/post/2017/frensh-cleat-system/img/F-Cleat-Perspektive.gif filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-1/img/intro.gif filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-2/img/intro.gif filter=lfs diff=lfs merge=lfs -text
content/post/2022/cash-register-part-3/img/intro.gif filter=lfs diff=lfs merge=lfs -text
content/post/2020/pi_cam_holder/misc/Pi_Cam_Holder.stl filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/BatteryExpansionShield18650.webp filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/DACPZ.webp filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/RFID_RC522.webp filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/pam8403_amplifier.webp filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/Seite.svg filter=lfs diff=lfs merge=lfs -text
content/post/2023/DIY-Musicbox-part-1/img/Vorn.svg filter=lfs diff=lfs merge=lfs -text
static/mov/2020/pi_cam_holder/cam_holder.mp4 filter=lfs diff=lfs merge=lfs -text
static/mov/2020/pi_cam_holder/result.mp4 filter=lfs diff=lfs merge=lfs -text
static/mov/2022/cash-register-part-2/tp-5.mp4 filter=lfs diff=lfs merge=lfs -text
