name: Release pmoscode website

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches:
      - 'main'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.151.1
      STAGE: staging
    steps:
      - name: Check, if we're deploying production stage
        if: github.ref_type == 'tag'
        run: echo 'STAGE=production' >> "$GITHUB_ENV"

      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Set up golang
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'

      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: Install page theme
        run: |
          hugo mod vendor

      - name: Build with Hugo (Stage = ${{ env.STAGE }})
        run: |
          hugo --gc --minify --environment ${{ env.STAGE }}

      - name: Upload artifact (remote)
        uses: actions/upload-artifact@v6
        if: github.ref_type == 'tag'
        with:
          name: page
          path: ./public

      - name: Upload artifact (gh-pages)
        uses: actions/upload-pages-artifact@v4
        if: github.ref_type == 'branch'
        with:
          name: page
          path: ./public

  deploy-staging:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'branch'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: page

  deploy-production:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'tag'
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: page

      - name: Prepare SSH for rsync
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
        run: |
          # Install rsync and openssh-client
          sudo apt-get update -y
          sudo apt-get install -y rsync openssh-client

          mkdir -p ~/.ssh
          
          # Write key into file and set permissions
          printf '%s' "$SSH_DEPLOY_KEY" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key

          # Add remote host to known_hosts
          ssh-keyscan -H "$REMOTE_HOST" >> ~/.ssh/known_hosts 2>/dev/null || true
          chmod 600 ~/.ssh/known_hosts

      - name: Rsync site to remote
        env:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
        run: |
          RSYNC_SSH="ssh -i ~/.ssh/deploy_key"

          rsync -avz --delete --human-readable --itemize-changes \
            --exclude='.git/' --exclude='.gitignore' \
            -e "$RSYNC_SSH" ./ ${REMOTE_USER}@${REMOTE_HOST}:"${REMOTE_PATH}"
